.blue-lable{
  background-color: var(--ion-color-primary);
  border-radius: 5px;
  text-align: center;
}

.out-line-label{
  border: solid 2px var(--ion-color-light-shade);
  border-radius: 5px;
  text-align: center;
}
