<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="instructors"></ion-back-button>
    </ion-buttons>

    <ion-title>Events - June</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let event of eventsDB.events" lines="none">
      <div class="w-100">
        <ion-card class="m-4">
          <ion-card-header>
            <ion-card-title color="primary">
              {{ event.date | date:'EEEE, d' }}
            </ion-card-title>

            <ion-row>
              <ion-col size="6" class="m-0">
                <ion-row>
                  <ion-col size="6" class="blue-lable no-line-breaks">
                    <ion-card-title color="light">
                      Start
                    </ion-card-title>
                  </ion-col>
                  <ion-col size="6" class="out-line-label no-line-breaks">
                    <ion-card-title>
                      {{ event.start | time }}
                    </ion-card-title>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="6" class="blue-lable no-line-breaks">
                    <ion-card-title color="light">
                      End
                    </ion-card-title>
                  </ion-col>
                  <ion-col size="6" class="out-line-label no-line-breaks">
                    <ion-card-title>
                      {{ event.end | time }}
                    </ion-card-title>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>



          <ion-card-content>
            <ion-card-title>
              {{ event.type }}
            </ion-card-title>
            {{ event.description }}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-item>
  </ion-list>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="handleClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
