<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="instructors"></ion-back-button>
    </ion-buttons>

    <ion-title>Events - June</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title color="primary">Thusday, 10</ion-card-title>

      <ion-row>
        <ion-col size="6">
          <ion-row>
            <ion-col size="6" class="blue-lable">
              <ion-card-title color="light">
                Start
              </ion-card-title>
            </ion-col>
            <ion-col size="6" class="out-line-label">
              <ion-card-title>
                8:00
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="6" class="blue-lable">
              <ion-card-title color="light">
                End
              </ion-card-title>
            </ion-col>
            <ion-col size="6" class="out-line-label">
              <ion-card-title>
                8:00
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>



    <ion-card-content>
      <ion-card-title>Theoretial Class</ion-card-title>
      Yue are going to learn about the main airplane instruments and the uses o e....
    </ion-card-content>
  </ion-card>
</ion-content>
