<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instructors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div *ngFor="let instructor of database.instructors">
    <ion-card routerLink="/events/{{ instructor.id }}">
      <ion-card-header>
        <ion-row style="margin: 0px;">
          <ion-col>
            <ion-card-title>{{ instructor.fullName }}</ion-card-title>
          </ion-col>
          <ion-col class="ion-text-right" style="white-space:nowrap;">
            <ion-card-title color="primary">{{ instructor.birthDay | date: 'd.MM.yyyy' }}</ion-card-title>
          </ion-col>
        </ion-row>

      </ion-card-header>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="handleClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
