<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title>Events Form</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

<!--





 -->
  <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="save()">

    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="instructorId">

    <ion-list>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">type</ion-label>
        <ion-input formControlName="type"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">date</ion-label>
        <ion-input type="date" formControlName="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">start</ion-label>
        <ion-input type="time" formControlName="start"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">end</ion-label>
        <ion-input type="time" formControlName="end"></ion-input>
      </ion-item>

      <div class="ion-text-center">
        <ion-button size="large" type="submit" [disabled]="formulario.invalid">
          Guardar
        </ion-button>
      </div>
    </ion-list>

  </form>



</ion-content>
