<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title>Events Form</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

<!--
id
type
date
start
end
description
instructorId
 -->
  <form action="">

    <input type="hidden" formControlName="id">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Stacked Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>

  </form>



</ion-content>
